[user]
	name = Icko
	email = 80863308+ickoxii@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
