# https://medium.com/@charlesdobson/how-to-customize-your-macos-terminal-7cce5823006e
# aliases allow for 'shortcuts' for commonly used commands

# SHOW/HIDE HIDDEN FILES
alias showhidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# SHOW/HIDE DESKTOP ICONS
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# MATLAB
# Allows for matlab interface inside command line
alias matlab="/Applications/matlab_r2023a.app/bin/matlab -nojvm -nodesktop"

# Ask for confimation when deleting
# BAD PRACTICE
# alias rm="rm -i"
# alias trash="trash -i"
