# Specify all markdown files, this assumes they are all in the current directory
MARKDOWN_FILES = SPECIFY_HERE.md
# Convert each markdown file to a corresponding pdf target
PDF_FILES = SPECIFY_HERE.pdf

ENGINE = --pdf-engine=xelatex
PREAMBLE = -H ~/.config/latex/preambles/math.tex
HIGHLIGHT = --highlight-style=breezedark
CFLAGS = $(ENGINE) $(PREAMBLE) $(HIGHLIGHT)

.PHONY: all clean

all: $(PDF_FILES)

%.pdf: $(MARKDOWN_FILES)
	pandoc $< $(CFLAGS) -o $(PDF_FILES)

clean: 
	rm -i $(PDF_FILES)
